@page "/login"
@inject IUserService userService
@inject NavigationManager NavigationManager

<h3>Login</h3>
<hr />


<EditForm Model="userService" OnSubmit="LoginUser">
    <div>
        <lable for="Username">Username</lable>
        <InputText id="username" @bind-Value="userService.UserName" class="form-control"></InputText>
    </div>
    <br />
    <div>
        <lable for="Email">Email Address</lable>
        <InputText id="email" @bind-Value="userService.Email" class="form-control"></InputText>
    </div>
    <br />
    <div>
        <lable for="heroname">Password</lable>
        <InputText id="password" @bind-Value="userService.Password" class="form-control"></InputText>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {

    public async Task LoginUser()
    {
        await userService.LoginUser();
        NavigationManager.NavigateTo("/profile", true);
    }

}
