@page "/login"
@inject IUserService userService
@inject NavigationManager NavigationManager

<h3>Login</h3>
<hr />

<div class="col-6">
    <input type="text" @bind="userService.UserName" class="form-control" placeholder="User Name">
</div>
<br />
<div class="col-6">
    <input type="text" @bind="userService.Email" class="form-control" placeholder="Email Address">
</div>
<br />
<div class="col-6">
    <input type="password" @bind="userService.Password" class="form-control" placeholder="password">
</div>
<br />
<div class="col-6">
    <button class="btn btn-primary" @onclick="LoginUser">Login</button>
</div>

@code {

    public async Task LoginUser()
    {
        await userService.LoginUser();
        NavigationManager.NavigateTo("/profile", true);
    }

}
