@page "/users"
@inject IUserService UserService
@inject NavigationManager NavigationManager

<PageTitle>Users</PageTitle>

<h3>Users</h3>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Emil</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserService.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Password</td>

            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="CreateUser">Create New User</button>

@code {

    User user = new User { Role = new Role() };

    protected override async Task OnInitializedAsync()
    {
        await UserService.GetUsers();
    }

    //void ShowUser(int id)
    //{
    //    NavigationManager.NavigateTo($"user/{id}");
    //}

    void CreateUser()
    {
       NavigationManager.NavigateTo("/createuser");
    }
}
